.cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 16px;
  cursor: pointer;
}

.line {
  display: flex;
  flex-direction: column;
}

.test: {
  display: flex;
}
